.testPacketDetail {
	&-section {
		margin: 4rem 0;
	}
	&-title {
		margin: 1rem 0 5rem;
	}
	&-container {
		padding-left: 0;
	}
	&-img {
		width: auto;
	}
	&-details {
		flex-direction: column;
		@media (min-width: $screen-desktop) {
			flex-direction: row;
		}
	}
	&-content {
		@media (max-width: $screen-desktop) {
			margin-bottom:3rem;
		}
		img {
			width: inherit;
		}
		h4 {
			margin: 2rem 0 1rem;
		}
		.highlight {
			width: 70%;
		}
	}

	&-desc {
		padding-left: 1.1rem;
		p {
			font-size: $font-size-medium;
			margin-bottom: 0.2rem;
		}
	}
}
