
.btn {
	box-sizing: border-box;
	background-color: $transparent-bg;
	font-size: $font-size-base;
	font-weight: $font-weight-semi;
	border-radius: 0;
	border: none;
	@include transition($fast-transition-time, linear);

	&:hover,
	&:focus {
		outline: 0 !important;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		outline: 0 !important;
	}

	&.btn-icon {
		padding: $padding-base-vertical;
	}
}

.btn-primary {
	background-color: $color-primary;
	color: $color-white;
	font-size: $font-size-button;
	text-transform: uppercase;
	font-weight: $font-weight-light;
	padding: $padding-base-vertical $padding-base-horizontal;

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle,
	&:not(:disabled):not(.disabled):active {
		background-color: $color-primary-hover;
		color: $color-white;
		border: 0;
	}
}

.btn-secondary {
	background-color: $color-white;
	border: .1rem solid $color-one;
	color: $color-one;

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		background-color: $color-primary;
		border-color: $color-primary;
		color: $color-white;
	}
}
